.groups-list-card {
    margin-top: var(--ion-margin, 10px);
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    border-radius: 12px;

    p {
        margin-top: 10px;
    }
}