@import './chatui.scss';

.message-input {
  --background: var(--ion-color-light) !important;
  --padding-start: 12px;
  --padding-end: 12px;
  border: 1px solid #969695 !important;
  border-radius: 20px !important;
}

.contact-avatar {
    height: 40px;
    width: 40px;
}

.toolbar {
  border-bottom: 1px solid #e1e2e3;

  .back {
    zoom: 2;
  }
  
  .options {
    zoom: 2;
  }
}