<ion-header class="ion-no-border">
  <ion-toolbar color="app-primary" class="ion-no-border">
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <ion-icon size="large" color="light" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding">
  <div class="header ion-text-center">
    <!-- LOGO IMAGE -->
    <img src="./assets/imgs/app_logo.png" alt="logo" />
  </div>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="8" push-md="2">
        <!---Form-->
        <form>
          <!---Input field email-->
          <ion-item class="ion-no-padding transparent input ion-margin-top" lines="none">
            <ion-label class="text-size-xs text-color-accent font-regular ion-padding-start" position="stacked">Email
              Address</ion-label>
            <ion-input required type="text" placeholder="Enter email address" [(ngModel)]="item.email"
              [ngModelOptions]="{standalone: true}">
            </ion-input>
            <ion-icon *ngIf="!isEmailValid" class="icon-font-sm error-color" name="alert-circle"></ion-icon>
          </ion-item>

          <div class="clearfix"></div>
          <ion-row class="ion-no-padding">
            <ion-col size="12" class="ion-padding">
              <!---Reset button-->
              <ion-button color="app-primary" class="ion-text-capitalize login-button" expand="block"
                (click)="onResetFunc()" [disabled]="isLogin">
                <span *ngIf="!isLogin">Reset Password</span>
                <ion-spinner name="circles" *ngIf="isLogin" color="light"></ion-spinner>
              </ion-button>
            </ion-col>
            <ion-col size="12" class="ion-padding">
              <ion-label class="text-size-sm">
                Let us know your registerd email address & we will send you to password reset link.
              </ion-label>
            </ion-col>
          </ion-row>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>