.header {
    background: #df236c;
    height: 241px;
    width: 100%;
    position: relative;

    img {
        height: 120px;
        width: 120px;
        border: 5px solid #ffffff;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.login-button {
    height: 50px;
    font-size: 16px;
    --box-shadow: none;
}

form {
    ion-item {
        ion-input {
            --padding-bottom: 16px;
            --padding-end: 32px;
            --padding-start: 16px;
            --padding-top: 16px;
            margin: 10px 16px !important;
            width: calc(100% - 22px);
            // box-shadow: 0 3px 13px rgba(0, 0, 0, 0.16);
        }

        ion-icon {
            position: absolute;
            right: 30px;
            bottom: 25px;
            z-index: 999;
        }

        ion-label {
            transform: none;
            margin: 5px 0 0 0 !important;
        }
    }
}
