ion-toolbar {   
    padding-top: 5px;

    .options {
        zoom: 2.0;
    }
}

.super-tabs-toolbar-custom {
    --st-scrollable-toolbar-padding-left: 0px;

    super-tab-button {
        --st-label-color-active: #DF236C;
        --st-label-color-inactive: #878787;
        --st-label-font-weight: 400;
    }
}

ion-searchbar {
    --box-shadow: none;
    --background: #f3f3f3 !important;
    --border-radius: 1.2rem;
    --placeholder-opacity: 0.2;

    padding-bottom: 5px;
}

.profile-pic {
    height: 40px;
    width: 40px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    cursor: pointer;
}

super-tabs-container {
    background: rgb(248, 246, 246);
}

:host {
    --super-tabs-toolbar-background: white;
    --st-indicator-color: #DF236C;
}

.groups-list-card {
    margin-top: var(--ion-margin, 10px);
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    border-radius: 12px;

    p {
        margin-top: 10px;
    }
}

.feed-list-card {
    margin-top: var(--ion-margin, 10px);
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    border-radius: 12px;
    box-shadow: 0 10px 30px 0px rgba(57, 71, 82, 0.12);

    &:last-child {
        margin-bottom: var(--ion-margin, 32px);
    }

    ion-item {
        --inner-padding-end: 0px;
    }

    .post-list-content {
        padding: 0 !important;
        text-align: left;

        .img {
            margin: 10px;
            border-radius: 12px !important;
            overflow: hidden;
        }
    }

    .action-item {
        .action-button {
            margin-right: var(--ion-margin, 16px) !important;
        }
    }
}

.sensitive {
    background: #9c8679;
    color: #ffffff;
    height: 200px;
    width: 100%;
    border-radius: 12px;

    .help {
        margin-right: 10px;
    }

    .show-post {
        border: 1px solid #ffffff !important;
        border-radius: 20px !important;
        color: #ffffff;
        margin: 10px;
    }
}

agm-map {
    border-radius: 12px;
    display: inline-block;
    overflow: hidden;
    height: 200px !important;
    width: 100%; /* This is really important*/
}

.video {
    height: 200px;
    width: 100%;
    // margin: 10px;
    border-radius: 12px;
}

.post-list-card {
    position: relative;
    height: 250px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 12px;

    // &:last-child {
    //     margin-bottom: var(--ion-margin, 32px);
    // }

    ion-item {
        --inner-padding-end: 0px;
    }

    .post-list-content {
        padding: 0 !important;
        text-align: left;
    }

    .group-name {
        display: inline-block;
        margin-top: 15px;
        margin-left: 15px;
        text-transform: uppercase;
    }

    .description {
        margin-left: 15px;
        margin-right: 10px;
    }
    .caption {
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        color: #fff;
    }

    .action-item {
        .action-button {
            margin-right: var(--ion-margin, 16px) !important;
        }
    }
}

.essentials {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0px;
    padding: 10px;
    background-color: white;
    position: relative !important;
    border-radius: 12px;
    -webkit-box-shadow: 0px 0px 10px -6px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 10px -6px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 10px -6px rgba(0, 0, 0, 0.75);
}