<ion-header>
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start" (click)="goBack()">
      <ion-icon name="chevron-back-outline" class="options"></ion-icon>
    </ion-buttons>
    <ion-title>
      Profile
    </ion-title>
    <ion-buttons slot="end" (click)="goEdit()">
      <ion-icon name="create-outline" class="report"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col class="ion-no-padding" size="12">
        <!-- Card with avatar -->
        <ion-card class="ion-padding ion-text-center ion-no-margin
        no-border-radius no-box-shadow info-section profilesec"
          style="border: 2px solid white; margin: 5px; border-radius: 10px;">

          <ion-avatar *ngIf="!photoURL" class="profile">
            <img src="./assets/imgs/profile-placeholder.png" alt="">
          </ion-avatar>
          <ion-avatar *ngIf="photoURL" class="profile" (click)="viewImage(photoURL)">
            <img src="{{photoURL}}" alt="">
          </ion-avatar>
          <!--<input id="file" type='file' style="display: none;"(change)="onSelectFile($event)" />-->

          <ion-card-content class="ion-text-center ion-no-padding">
            <!-- Avatar title and subtitle -->
            <h1 class="text-size-md text-color-secondary font-bold">
              {{displayName}}
            </h1>


            <!--<p class="text-size-xs text-color-secondary font-regular">
                {{descriptio}}</p>-->
            <p *ngIf="status == 'online'" style="color: green; font-weight: bold;text-align: center;">Online</p>
            <p *ngIf="status == 'offline'" style="color: red; font-weight: bold;text-align: center;">Offline</p>
            <p *ngIf="status == 'away'" style="color: orange; font-weight: bold;text-align: center;">Away</p>

            <ion-item lines="none" class="transparent ion-no-padding" (click)="goFollowers(users.displayName)">
              <ion-label class="ion-text-center">
                <h2 class="text-size-sm text-color-secondary font-regular">
                  {{followingCount}} Connections
                </h2>
              </ion-label>
            </ion-item>

          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list>
    <ion-item lines="full" class="box-shadow border-radius listBox ion-margin-bottom ion-padding-top" (click)="goEdit()">
      <ion-icon name="person" slot="start" class="docIcon" style="background-color: red;"></ion-icon>
      <ion-label>
        <h3><b>{{displayName}}</b></h3>
        <ion-skeleton-text *ngIf="!displayName" animated style="width: 50%; height: 14px; border-radius: 5px;">
        </ion-skeleton-text>
      </ion-label>
    </ion-item>
    <ion-item lines="full" class="box-shadow border-radius listBox ion-margin-bottom" (click)="goEdit()">
      <ion-icon name="mail" slot="start" class="docIcon" style="background-color: purple;"></ion-icon>
      <ion-label>
        <h3><b>{{email}}</b></h3>
        <ion-skeleton-text *ngIf="!email" animated style="width: 70%; height: 14px; border-radius: 5px;">
        </ion-skeleton-text>
      </ion-label>
    </ion-item>
    <ion-item lines="full" class="box-shadow border-radius listBox ion-margin-bottom" (click)="goEdit()">
      <ion-icon name="transgender" slot="start" class="docIcon" style="background-color: green;"></ion-icon>
      <ion-label>
        <h3 *ngIf="gender"><b>{{gender}}</b></h3>
        <p *ngIf="!gender"><b>Add Gender</b></p>
      </ion-label>
    </ion-item>

    <ion-item lines="full" class="box-shadow border-radius listBox ion-margin-bottom" (click)="goEdit()">
      <ion-icon name="globe" slot="start" class="docIcon" style="background-color: deeppink;"></ion-icon>
      <ion-label>
        <h3 *ngIf="location"><b>{{location}}</b></h3>
        <p *ngIf="!location"><b>Add Location</b></p>
      </ion-label>
    </ion-item>

    <ion-item lines="full" class="box-shadow border-radius listBox ion-margin-bottom" (click)="goEdit()">
      <ion-icon name="location" slot="start" class="docIcon" style="background-color: darkred;"></ion-icon>
      <ion-label>
        <h3 *ngIf="city"><b>{{city}}</b></h3>
        <p *ngIf="!city"><b>Add City</b></p>
      </ion-label>
    </ion-item>

    <ion-item lines="full" class="box-shadow border-radius listBox ion-margin-bottom" (click)="goEdit()">
      <ion-icon name="people" slot="start" class="docIcon" style="background-color: red;"></ion-icon>
      <ion-label>
        <h3 *ngIf="marital"><b>{{marital}}</b></h3>
        <p *ngIf="!marital"><b>Add Marital Status</b></p>
      </ion-label>
    </ion-item>

    <ion-item lines="full" class="box-shadow border-radius listBox ion-margin-bottom" (click)="goEdit()">
      <ion-icon name="list" slot="start" class="docIcon" style="background-color: green;"></ion-icon>
      <ion-label>
        <h3 *ngIf="education"><b>{{education}}</b></h3>
        <p *ngIf="!education"><b>Add Education</b></p>
      </ion-label>
    </ion-item>

    <ion-item lines="full" class="box-shadow border-radius listBox ion-margin-bottom" (click)="goEdit()">
      <ion-icon name="call" slot="start" class="docIcon" style="background-color: blue;"></ion-icon>
      <ion-label>
        <h3 *ngIf="phoneNumber"><b>{{phoneNumber}}</b></h3>
        <p *ngIf="!phoneNumber"><b>Add Phone Number</b></p>
      </ion-label>
    </ion-item>

    <ion-item lines="full" class="box-shadow border-radius listBox ion-margin-bottom" (click)="goEdit()">
      <ion-icon name="calendar" slot="start" class="docIcon" style="background-color: deeppink;"></ion-icon>
      <ion-label>
        <h3 *ngIf="dob"><b>{{dob | date}}</b></h3>
        <p *ngIf="!dob"><b>Add Date of Birth</b></p>
      </ion-label>
    </ion-item>

    <ion-item lines="none" style="margin-bottom: 0px;" *ngIf="childs?.length">
      <ion-label style="font-weight: bold;">
        Children
      </ion-label>
    </ion-item>
    <ion-item lines="full" class="box-shadow border-radius listBox ion-margin-bottom" *ngFor="let item of childs">
      <ion-icon *ngIf="item.childGender === 'Boy'" src="./assets/svg/boy.svg" slot="start" class="docIcon" style="background-color: #353b48;"></ion-icon>
      <ion-icon *ngIf="item.childGender === 'Girl'" src="./assets/svg/girl.svg" slot="start" class="docIcon" style="background-color: #833471;"></ion-icon>
      <ion-label>
        <h3><b>{{item.childName}}, {{item.childAge}}</b></h3>
      </ion-label>
    </ion-item>

    <ion-item lines="full" class="box-shadow border-radius listBox ion-margin-bottom" (click)="showLogoutConfirm()">
      <ion-icon name="log-out" slot="start" class="docIcon" style="background-color: black;"></ion-icon>
      <ion-label>
        <h3><b>LOG OUT</b></h3>
      </ion-label>
    </ion-item>

  </ion-list>
</ion-content>